body {
    background-color: #6d5072;
    line-height: normal;
    font-size: 17px;
}

nav {
    text-align: center;
    top: 0;
    position: relative;
}

#buttonDonut {
    font-size: 17px;
    line-height: 15px;
    text-align: end;
    background-image: url(images/PinkDonut.png);
    background-position: center;
    padding: 1em;
    background-size: 90px;
    border-radius: 50%;
    height: 80px;
    width: 80px;

}

